@import "variables";
@import "mixins";
@import "boton";
@import "animaciones";

@import "index";
@import "servicios";
@import "nosotros";
@import "contacto";
@import "ubicacion";
@import "footer";


* {
	padding: 0;
	margin: 0;
}

body {
	background-color: $backgroundClaro;
	font-family: 'Roboto', sans-serif;
	
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content auto min-content;
}

header {
	background-color: $colorPrimario;
	padding: 20px;
	height: min-content;
}

.header__logo {
	width: 48px;
}

.navbar-nav {
	gap: 0 1rem;
}

.principal,
.diferenciales,
.servicios,
.nosotros,
.contacto,
.ubicacion,
.horarios,
.dedicacion {
	max-width: 1200px;
	@include ancho-margen(85%, 30px auto)
}

.principal__titulo,
.servicios__titulo,
.nosotros__titulo,
.contacto__titulo,
.ubicacion__titulo{
	font-size: 2.5rem;
	margin-bottom: 30px;
	font-weight: 700;
}

.no-resize {
	resize: none;
}

.mayuscula {
	text-transform: uppercase;
}

.banner {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
}

.titulo__container {
	margin-bottom: 50px;
	text-align: center;

	@include animacion(animacion1, 0.7s);
}

.titulo__texto {
	width: 75%;
	margin-inline: auto;
	text-align: start;
}


@media screen and (max-width: 768px) {

	.principal,
	.diferenciales,
	.servicios,
	.nosotros,
	.contacto,
	.ubicacion,
	.horarios {
		width: 90%;
	}

	.menu {
		width: 100%;
	}

	/* Nosotros */
	.nosotros__video {
		height: 350px;
	}

	.contacto__redes {
		width: 100%;
	}

	/* Ubicacion */
	.ubicacion {
		width: 100%;

		&__mapa {
			height: 500px;
		}
	}
}

@media screen and (max-width: 600px) {
	.navbar-nav .nav-link {
		text-align: center;
		padding: 1.2rem;
	}

	.titulo {
		&__container {
			text-align: start;
		}

		&__texto {
			width: 100%;
		}
	}

	/* Index */
	.diferenciales__item {
		gap: 0px;
	}

	/* Nosotros */
	.nosotros {
		width: 100%;

		&__video {
			width: 100%;
		}

		.titulo__container {
			@include ancho-margenInline(90%, auto);
		}
	}

	/* Contacto */
	.contacto {
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr;

		&__formulario {
			grid-row: span 1;
		}

		&__redes {
			width: 100%;
			justify-self: stretch;
			justify-content: space-around;
		}
	}

	/* Ubicacion */
	.ubicacion {
		.titulo__container {
			@include ancho-margenInline(90%, auto);
		}
	}

}

@media screen and (max-width: 480px) {
	.banner {
		height: 250px;
	}

	/* Index */
	.carrusel__imagen {
		height: 300px;
	}

	/* Nosotros */
	.nosotros {
		width: 100%;
	}

	.nosotros__titulo,
	.nosotros__descripcion {
		@include ancho-margenInline(90%, auto);
	}

	/* Ubicacion */
	.ubicacion__mapa {
		height: 400px;
	}

	.footer__info {
		margin-top: 10px;
	}
}